* {
  box-sizing: border-box;
}
body {
  background-color: #63bdf7;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  position: relative;
  top: 120px;
}
#card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  width: 350px;
  height: 350px;
}
#food-img {
  position: relative;
  top: -15px;
  left: 0;
  width: 350px;
  height: 200px;
  border-radius: 10px 10px 0 0;
}
#calory {
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: -9px;
  background: border-box;
  border: 3px solid pink;
  border-radius: 20px;
  width: 60px;
  text-align: center;
  color: white;
  background-color: pink;
  font-weight: bold;
}
#card-content {
  padding: 2px;
}
#right-icon {
  width: 30px;
  height: 30px;
}
#left-icon {
  width: 21px;
  height: 21px;
}
#right {
  padding: 0;
  border: none;
  background: none;
  position: relative;
  left: 290px;
  top: -12px;
}
#left {
  padding: 0;
  border: none;
  background: none;
  position: relative;
  left: -3px;
  top: -12px;
}
#card-text {
  position: relative;
  top: -16px;
  margin: 15px;
}
#name {
  font-weight: bold;
}
#time {
  position: relative;
  top: -10px;
  background: border-box;
  text-align: center;
  left: -15px;
  border: 3px solid pink;
  border-radius: 20px;
  width: 90px;
  color: white;
  background-color: pink;
  font-weight: bold;
  font-size: 14px;
}
