* {
  box-sizing: border-box;
}

body {
  background-color: #63bdf7;
  font-family: "Roboto", sans-serif;
}
.card-wrapper{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#card-container {
  position: relative;
  display: flex;
  justify-content: center;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  width: 90vw;
  height: 60vh;
  animation: card-swipe 1.5s ease 0.s;
}

@keyframes card-swipe {
  0% {
    transform: translateX(0px) rotate(0deg);
  }

  33% {
    transition: all 0.5s ease-in-out;
    transform: translateX(140px) rotate(14deg);
  }

  66% {
    transition: all 0.5s ease-in-out;
    transform: translateX(-140px) rotate(-14deg);
  }

  100% {
    transition: all 0.5s ease-in-out;
    transform: translateX(0px) rotate(0deg);
  }
}

#food-img {
  position: relative;
  top: -15px;
  left: 0;
  width: 90vw;
  border-radius: 10px 10px 0 0;
}

#calory {
  font-size: 32px;
  background: border-box;
  border: 3px solid pink;
  border-radius: 20px;
  width: 15vw;
  text-align: center;
  color: white;
  background-color: pink;
  font-weight: bold;
}

#card-content {
  display: flex;
  flex-direction: column;
}

#right-icon {
  width: 93px;
  height: 93px;
}

#left-icon {
  width: 71px;
  height: 71px;
}

#right {
  padding: 0;
  border: none;
  background: none;
}

#left {
  padding: 0;
  border: none;
  background: none;
}

#name {
  font-weight: bold;
  font-size: 52px;
}

#time {
  background: border-box;
  text-align: center;
  border: 8px solid pink;
  border-radius: 30px;
  width: 25vw;
  color: white;
  background-color: pink;
  font-weight: bold;
  font-size: 40px;
}

.disable-select {
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

.card-detail {
  display: flex;
  flex-direction: column;
  margin: 5px 20px;
  justify-content: space-around;
  height: 100%;
}

.name-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.time-wrapper {
  display: flex;
  justify-content: flex-start;
}

.action-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 50px;
}

/*popupcss*/
.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*.popup-overlay {
  display: block!important;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999999999!important;
}*/

.popup-content {
  padding: 0 40px;
}

.popup-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #fff;
  width: 90vw;
  height: 80vh;
  box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.048);
  border-radius: 25px;
}

#recipe-img {
  width: 90vw;
  height: 30vh;
}

.recipe-name {
  font-weight: bold;
  font-size: 50px;
}

.cooking-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 40px;
  background: border-box;
  border: 3px solid pink;
  background-color: pink;
  color: white;
  border-radius: 20px;
  width: 60vw;
  height: 3vh;
  font-weight: bold;
  font-size: 35px;
  margin-top: -21px;
  margin-bottom: 50px;
}

p.people {
  margin-bottom: 20px;
  margin-top: 0;
  margin-right: 40px;
}

p.cooking {
  margin-top: 0;
}

h1 {
  font-size: 40px;
}

ul {
  margin-top: 40px;
}

li {
  font-size: 33px;
  margin: 20px 0;
}

.recipe-content {
  font-size: 30px;
  text-align: justify;
}

.exit {
  font-weight: 600;
  font-size: 60px;
  position: absolute;
  right: 20px;
  top: 20px;
  color: #eee;
}