body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #63bdf7;
}

.card-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  position: absolute;
  display: flex;
  justify-content: center;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  width: max(30vw, 300px);
  height: 400px;
  animation: card-swipe 1.5s ease 0.s;
}

@keyframes card-swipe {
  0% {
    transform: translateX(0px) rotate(0deg);
  }

  33% {
    transition: all 0.5s ease-in-out;
    transform: translateX(140px) rotate(14deg);
  }

  66% {
    transition: all 0.5s ease-in-out;
    transform: translateX(-140px) rotate(-14deg);
  }

  100% {
    transition: all 0.5s ease-in-out;
    transform: translateX(0px) rotate(0deg);
  }
}

#food-img {
  width: max(30vw, 300px);
  height: 40vh;
  border-radius: 10px 10px 0 0;
}

#calory {
  font-size: max(1vw, 13px);
  background: border-box;
  border: 3px solid pink;
  border-radius: 5vw;
  width: max(5vw, 50px);
  height: 18px;
  text-align: center;
  color: white;
  background-color: pink;
  font-weight: bold;
}

#card-content {
  display: flex;
  flex-direction: column;
}

#right-icon {
  width: max(4vw, 40px);
  height: 45px;
}

#left-icon {
  width: max(4vw, 40px);
  height: 35px;
}

#right {
  padding: 0;
  border: none;
  background: none;
}

#left {
  padding: 0;
  border: none;
  background: none;
}

.action-dismiss {
  position: relative;
  bottom: 7px;
}

#name {
  font-weight: bold;
  /* font-size: 19px; */
}

#time {
  background: border-box;
  text-align: center;
  border: 8px solid pink;
  border-radius: 30px;
  width: max(10vw, 60px);
  height: 15px;
  color: white;
  background-color: pink;
  font-weight: bold;
  font-size: max(1.2vw, 13px);
}

.disable-select {
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

.card-detail {
  display: flex;
  flex-direction: column;
  margin: 5px 20px;
  justify-content: space-around;
  height: 100%;
}

.name-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.time-wrapper {
  display: flex;
  justify-content: flex-start;
}

.action-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 30px;
}

/*popupcss*/
.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*.popup-overlay {
display: block!important;
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.7);
z-index: 999999999!important;
}*/

.popup-content {
  padding: 0 24px;
}

.popup-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #fff;
  width: max(43vw, 450px);
  height: 500px;
  box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.048);
  border-radius: 25px;
}

#recipe-img {
  width: max(43vw, 450px);
  height: 230px;
}

.recipe-name {
  font-weight: bold;
  font-size: max(1.6vw, 20px);
}

.cooking-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: border-box;
  border: 3px solid pink;
  background-color: pink;
  color: white;
  border-radius: 20px;
  width: max(25vw, 130px);
  height: 20px;
  font-weight: bold;
  font-size: max(0.2vw, 17px);
  margin-top: -11px;
  margin-bottom: 20px;
}

p.people {
  margin-bottom: 20px;
  margin-top: 0;
  margin-right: 40px;
}

p.cooking {
  margin-top: 0;
}

h1 {
  font-size: max(1.5vw, 19px);
  line-height: 28px;
}

ul {
  margin-top: 0 20px;
}

li {
  font-size: max(1vw, 17px);
  margin: 10px 0;
}

.recipe-content {
  font-size: max(1vw, 17px);
  text-align: justify;
  line-height: 30px;
}

.exit {
  font-weight: 600;
  font-size: max(0.2vw,40px);
  position: absolute;
  right: 20px;
  top: 20px;
  color: #eee;
}