* {
  box-sizing: border-box;
}
body {
  background-color: #63bdf7;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Solway", serif;
}
#card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  width: 350px;
  height: 550px;
}
#food-img {
  position: relative;
  top: -97px;
  left: 0;
  width: 348px;
  height: 230px;
  border-radius: 10px 10px 0 0;
}
#calory {
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: -7px;
}
#card-content {
  padding: 2px;
}
#right-icon {
  width: 30px;
  height: 30px;
  color: #63bdf7;
}
#left-icon {
  width: 30px;
  height: 30px;
  color: #63bdf7;
}
#right {
  padding: 0;
  border: none;
  background: none;
  position: relative;
  left: 290px;
  top: 80px;
}
#left {
  padding: 0;
  border: none;
  background: none;
  position: relative;
  left: -3px;
  top: 80px;
  transform: rotateY(180deg);
}
#card-text {
  position: relative;
  top: -106px;
}
