* {
  box-sizing: border-box;
}
body {
  background-color: #63bdf7;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Solway", serif;
}
#card-container {
  position: absolute;
  left: 45%;
  top: 20%;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  width: 350px;
  height: 550px;
}
img {
  position: relative;
  left: 0;
  width: 348px;
  height: 200px;
  border-radius: 10px 10px 0 0;
}
