body {
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}
.popup-content{
    padding: 40px;
}
.popup-menu {
    display: flex;
    flex-direction: column;
}
#recipe-img {
    width: 100vw;
    height: 40vh;
}
.recipe-name {
    font-weight: bold;
    font-size: 45px;
}
.cooking-info{
    display: flex;
    flex-direction: row;
    font-size: 40px;
}