body {
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
    overflow: hidden!important;
    width: 100%;
}

.card-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 90vw;
    position: absolute;
    top: 20%;
    right: 5%;
    bottom: 5%;
    border-radius: 10px;
    animation: card-swipe 1.5s ease 0.5s;
}

@keyframes card-swipe {
    0% {
      transform: translateX(0px) rotate(0deg);
    }
    33% {
      transition: all 0.5s ease-in-out;
      transform: translateX(140px) rotate(14deg);
    }
    66% {
      transition: all 0.5s ease-in-out;
      transform: translateX(-140px) rotate(-14deg);
    }
    100% {
      transition: all 0.5s ease-in-out;
      transform: translateX(0px) rotate(0deg);
    }
  }

.card-image {
    height: 57vh;
    background-color: #FA7BA8;
}

.recipe-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 14vh;
    background-color: rgb(201, 195, 195);
}

.recipe-sub-info {
    display: flex;
    justify-content: space-between;
}

.name {
    font-size: 33px;
}

.people {
    font-size: 20px;
}

.duration {
    font-size: 20px;
}

.badge {
    margin-top: 30px;
    margin-right: 10px;
    float: right;
    background-color: #DC2A2A;
    border: 5px solid #DC2A2A;
    border-radius: 10px;
    color: white;
}

.recipe-name {
    line-height: 1px;
}
